<html lang="en">
    <%- include('./partials/Head.ejs') %>
    <br>
    <body>
        <div class = mainBox>
            <div class = displayBox>
        <%- include('./partials/nav.ejs') %>
        <br>
        <div class="error content">
            <h2>There are still species of being cared for by this caretaker. Please remove or replace these species first</h2>
        </div>
       
        <%- include('./partials/Footer.ejs') %>
    </div>
    
    </div>
        
    </body>

</html>